{{ partial "header" . }}

<main>
    <div class="intro">
        {{ with .Site.Params.profilePic }} <img class="profile" src="{{ . }}"> {{ end }}
        <h1>{{ .Site.Title }}</h1>
        <h2>{{ markdownify .Site.Params.Description }}</h2>
        {{ with .Content }} <div class="homepage-content text-justify">{{ . }}</div> {{ end }}
    </div>

    <div class="content">
        <h2>Latest</h2>
        {{ $paginator := .Paginate (first 3 site.RegularPages) }}
        {{ range $paginator.Pages }} {{ partial "list-item" . }} {{ end }}
        <h3><a href="/posts">All Posts</a></h3>
    </div>

</main>

{{ partial "footer" . }}
